# Dependencies for testing/documentation
nbconvert
pytest
pytest-xdist
pytest-env
pytest-cov
nbsmoke
mpld3
nbsphinx
ipykernel
pandoc
pypandoc
sphinx
sphinx-autodoc-typehints
sphinx-markdown-tables
sphinx-rtd-theme
recommonmark

