$disabled-background: #444444;
$disabled-border-color: #999;
$disabled-color: #FFF;

.btn {
  @extend .btn.__m;
  @extend .btn.__medium-blue;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  user-select: none;

  &:focus {
    box-shadow: 0 0 6px 2px rgba($color-yellow, 0.7);
    outline: 0;
  }

  &:disabled {
    cursor: default !important;
    opacity: 0.6;
    pointer-events: none;
  }

  // Modifiers
  // ---------

  // ### Sizes

  &.__tiny {
    @include font-height(10px, 10px);
    padding: 5px 12px;
  }

  &.__m {
    @include font-height(13px, 16px);
    padding: 5px 12px;
  }

  &.__w {
    @include font-height(13px, 16px);
    padding: 5px 12px;
    width: 100px;
  }

  &.__l {
    @include font-height(16px, normal);
    padding: 9px 16px;
  }

  // ### Colours

  &.__white {
    background: #FFF;
    border-color: #999999;
    color: #404446;
    
    &:disabled {
      background: $disabled-background;
      border-color: $disabled-border-color;
      color: $disabled-color;      
    }
    
    &:hover:not(:disabled) {
      background: #f5f5f5;
    }

    &.__active,
    &:active:not(:disabled) {
      background: #f5f5f5;
    }

    &.__active,
    &.__active:hover {
      background: #fff6d5;
    }
  }

  &.__light-blue {
    background: #EEF9FF;
    border-color: #C7DDEA;
    color: #53646F;
    
    &:disabled {
      background: $disabled-background;
      border-color: $disabled-border-color;
      color: $disabled-color;      
    }
    
    &:hover:not(:disabled) {
      background: #BEDFF4;
      border-color: #9DC6DF;
      color: #3F4D55;
    }

    &.__active,
    &:active:not(:disabled) {
      background: #AFD8F2;
      border-color: #9DC6DF;
      color: #3F4D55;
    }

    &.__active,
    &.__active:hover {
      background: #AFD8F2;
      color: #3F4D55;
    }
  }


  &.__medium-blue {
    background: #d2e6ff;
    border-color: #9DC6DF;
    color: #000;
    
    &:disabled {
      background: $disabled-background;
      border-color: $disabled-border-color;
      color: $disabled-color;      
    }
    
/*    &:disabled {
      color: #708897
    } */
    
    &:hover:not(:disabled) {
      background: #96b4c9; // CK: blue button hover color
      border-color: #9DC6DF;
      color: #000;
    }

    &.__active,
    &:active:not(:disabled) {
      background: #a3c7e0;
      border-color: #9DC6DF;
      color: #000;
    }

    &.__active,
    &.__active:hover {
      background: #AFD8F2;
      color: #000;
    }
  }


  &.__blue {
    background: #00aeef;
    border-color: #01A1DD;
    color: #FFF;
    
    &:disabled {
      background: $disabled-background;
      border-color: $disabled-border-color;
      color: $disabled-color;      
    }
    
    &:hover:not(:disabled) {
      background: #0192cc;
      border-color: #0183b5;
      color: #FFF;
    }

    &.__active,
    &:active:not(:disabled) {
      background: #0181b5;
      border-color: #0183b5;
      color: #FFF;
    }

    &.__active,
    &.__active:hover {
      background: #01a5e2;
      color: #FFF;
    }
  }

  &.__red {
    background: #F47D7D;
    border-color: #999;
    color: #FFF;
    
    &:disabled {
      background: $disabled-background;
      border-color: $disabled-border-color;
      color: $disabled-color;      
    }
    
    &:hover:not(:disabled) {
      background: darken(#F47D7D, 10%);
      border-color: #999;
      color: #FFF;
    }

    &.__active,
    &:active:not(:disabled) {
      background: lighten(#F47D7D, 5%);
      border-color: #999;
      color: #FFF;
    }

    &.__active,
    &.__active:hover {
      background: lighten(#F47D7D, 5%);
      border-color: #999;
      color: #FFF;
    }
  }

  &.__green {
    background: #008800;
    border-color: #999;
    color: #FFF;
    
    &:disabled {
      background: $disabled-background;
      border-color: $disabled-border-color;
      color: $disabled-color;      
    }
  
    &:hover:not(:disabled) {
      background: darken(#008800, 3%);
      border-color: #999;
      color: #FFF;
    }

    &.__active,
    &:active:not(:disabled) {
      background: lighten(#008800, 5%);
      border-color: #999;
      color: #FFF;
    }

    &.__active,
    &.__active:hover {
      background: lighten(#008800, 5%);
      border-color: #999;
      color: #FFF;
    }
  }

  &.__black {
    background: #000;
    border-color: #000;
    color: #FFF;
    
    &:disabled {
      background: $disabled-background;
      border-color: $disabled-border-color;
      color: $disabled-color;      
    }
    
    &:hover:not(:disabled) {
      background: #555555;
      border-color: #555555;
      color: #FFF;
    }

    &.__active,
    &:active:not(:disabled) {
      background: #999999;
      border-color: #999999;
      color: #FFF;
    }

    &.__active,
    &.__active:hover {
      background: lighten(#bbbbbb, 5%);
      border-color: #bbbbbb;
      color: #FFF;
    }
  }

  // ### Misc.

  &.__block {
    display: block;
    width: 100%;
  }
}



.btn,
.navbar .navbar-nav > li > a.btn {
  border-radius: $border-radius-btn-base;
  box-sizing: border-box;
  border-width: 0; // $border-thin; // CK: border width
  background-color: $button-bg; // CK: button color
  font-size: $font-size-base;
  font-weight: $font-weight-semi;

  padding: $padding-base-vertical $padding-small-horizontal;
  margin-bottom: 5px;

  @include btn-styles($default-color, $default-states-color);
  @include transition($fast-transition-time, linear);
  
  &:disabled {
    background-color: $disabled-background;
    border-color: $disabled-border-color;
    color: $disabled-color;      
  }
    
  &:hover,
  &:focus {
    outline: 0 !important;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    @include box-shadow(none);
    outline: 0 !important;
  }

  &.btn-icon {
    padding: $padding-base-vertical;
  }
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -2px;
}

// Apply the mixin to the buttons
//.btn-default { @include btn-styles($default-color, $default-states-color); }
.navbar .navbar-nav > li > a.btn-primary, .btn-primary {
  @include btn-styles($primary-color, $primary-states-color);
}

.navbar .navbar-nav > li > a.btn-success, .btn-success {
  @include btn-styles($success-color, $success-states-color);
}

.navbar .navbar-nav > li > a.btn-info, .btn-info {
  @include btn-styles($info-color, $info-states-color);
}

.navbar .navbar-nav > li > a.btn-warning, .btn-warning {
  @include btn-styles($warning-color, $warning-states-color);
}

.navbar .navbar-nav > li > a.btn-danger, .btn-danger {
  @include btn-styles($danger-color, $danger-states-color);
}

.btn-neutral {
  @include btn-styles($white-color, $white-color);

  &:hover,
  &:focus {
    color: $default-color;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: $white-color;
    color: $default-color;
  }

  &.btn-fill {
    color: $default-color;
  }
  &.btn-fill:hover,
  &.btn-fill:focus {
    color: $default-states-color;
  }

  &.btn-simple:active,
  &.btn-simple.active {
    background-color: transparent;
  }
}

.btn {
  &:disabled,
  &[disabled],
  &.disabled {
    @include opacity(.5);
  }
}

.btn-simple {
  border: $none;
  padding: $padding-base-vertical $padding-base-horizontal;

  &.btn-icon {
    padding: $padding-base-vertical;
  }
}

.btn-lg {
  @include btn-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $border-radius-btn-large, $line-height-small);
  font-weight: $font-weight-normal;
}

.btn-sm {
  @include btn-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $border-radius-btn-small, $line-height-small);
}

.btn-xs {
  @include btn-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-xs, $border-radius-btn-small, $line-height-small);
}

.btn-wd {
  min-width: 140px;
}

.btn-group.select {
  width: 100%;
}

.btn-group.select .btn {
  text-align: left;
}

.btn-group.select .caret {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 8px;
}

.iconbtn {
  background-color: transparent;
  border-width: 0;
  font-size: 16px;
}
