.calib-controls {
  text-align: center;
  margin-bottom: 3rem;
}
.calib-controls .control-group {
  display: inline-block;
}
.calib-controls button, .calib-controls .control-group {
  margin-right: 1rem;
}

.calib-main {
  display: flex;
  margin-top: 4rem;
}
.calib-params {
  flex: 0 0 30%;
}
.calib-graphs {
  flex: 1;
  display: flex;
  max-height:800px;
  overflow-y: scroll;
  flex-wrap: wrap;
  & > div {
    flex: 0 0 400px;
  }
}
.plotopts-main {
  display: flex;
}
.plotopts-main--full {
  display: block;
}
.plotopts-params {
  flex: 1 0 10%;
}
.controls-box {
  border: 2px solid #ddd;
  padding: 7px;
  display: inline-block;
}
.small-button {
  background: inherit;
  padding: 0 0 0 0;
}