$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor((14px * $line-height-base)); // ~20px

$table-cell-padding:                 8px;
$table-condensed-cell-padding:       5px;

$table-bg:                           transparent; // overall background-color
$table-bg-accent:                    #efeff4; // for striping
$table-bg-hover:                     #ddd; // CK: hover color for tables
$table-bg-active:                    $table-bg-hover;

.table {
  max-width: 100%;
  width: 100%;
  background-color: $table-bg;
  margin-bottom: $line-height-computed;

  thead,
  tbody,
  tfoot {
    tr > th,
    tr > td {
      border-top: 1px solid $table-line-color;
      padding: $table-cell-padding;
      line-height: $line-height-base;
      vertical-align: middle;
    }
  }
  > thead > tr > th {
    border-bottom-width: 0;
    font-size: 1.6rem;
    font-weight: $font-weight-light;
    background-color: #1e749f;
    color:#fff;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid $table-line-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }

  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-line-color;
  }

  .radio,
  .checkbox {
    margin-top: 0;
    margin-bottom: 22px;
    padding: 0;
    width: 15px;
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    padding: 12px;
    vertical-align: middle;
  }

  .th-description {
    max-width: 150px;
  }
  .td-price {
    font-size: 26px;
    font-weight: $font-weight-light;
    margin-top: 5px;
    text-align: right;
  }
  .td-total {
    font-weight: $font-weight-bold;
    font-size: $font-size-h5;
    padding-top: 20px;
    text-align: right;
  }

  .td-actions .btn {

    &.btn-sm,
    &.btn-xs {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  > tbody > tr {
    position: relative;
  }
  > tbody tr:last-child {
    > td,
    > th {
      border-bottom: 1px solid $table-line-color;
    }
  }

  // for spreadsheet data
  > tfoot.__condensed {
    border: 0;
    margin-top: 12px;

    tr {
      border: 0;
    }

    th, td {
      border: 0;
      padding: 2px 8px;;
    }
  }

  th.sortable {
    white-space: nowrap;
  }
  
  th.sortable:hover {
    background: #144e6b;
    cursor: pointer;
  }

  // // Condensed table w/ half padding
  // .table-condensed {
  //   > thead,
  //   > tbody,
  //   > tfoot {
  //     > tr {
  //       > th,
  //       > td {
  //         padding: $table-condensed-cell-padding;
  //       }
  //     }
  //   }
  // }

  // Bordered version
  //
  // Add borders all around the table and between all the columns.

  .table-bordered {
    border: 1px solid $table-line-color;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          border: 1px solid $table-line-color;
        }
      }
    }
    > thead > tr {
      > th,
      > td {
        border-bottom-width: 2px;
      }
    }
  }

  
}

.table-striped {
  tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
  }
  tbody > tr:nth-of-type(2n) {
    background-color: $pale-bg;
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    padding: 15px 8px;
  }
  > tbody > tr:nth-child(odd) {
    > td,
    > th {
      background-color: $table-bg-accent;
    }
  }
  tr.highlighted {
    > td {
      background-color: #80ffaa !important;
    }
  }
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: $table-bg-hover;
    }
  }
}


// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}
table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }
  }
}

// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: ($line-height-computed * 0.75);
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $table-line-color;
    -webkit-overflow-scrolling: touch;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}

// CK: Define a div table
.divTable{
  display: table;
}
.divTableRow {
  display: table-row;
}
.divRowLabel {
  border: 0;
  display: table-cell;
  padding: 3px 10px;
  text-align: left;
  font-weight: bold;
}
.divRowContent {
  border: 0;
  display: table-cell;
  padding: 3px 10px;
  text-align: left;
}
.divTableBody {
  display: table-row-group;
}

