button[data-tooltip] {
  position: relative;
  &:after, &:before {
    content: '';
    opacity: 0;
  }
}

button[data-tooltip]:hover,
button[data-tooltip]:focus {
  &:after, &:before {
    opacity: 1;
    transition: opacity 0s linear 0.5s;
  }
  &:after {
    content: attr(data-tooltip);
    position: absolute;
    z-index: 2;
    bottom: calc(100% + 1rem);
    left: 50%;
    width: 8rem;
    margin-left: -4rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: calc(100% + 1rem);
    left: 50%;
    width: 0;
    height: 0;
    margin-bottom: -6px;
    margin-left: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.9);
  }
}
